body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  display: flex;
  justify-content: space-between;
}
.elt {
  justify-content: flex-end;
}
